.tsSalesBlock-intro-alt {
	border-bottom: 0;
}

.tsSalesBlock-alt,
.tsSalesBlock {
	input[type="text"],
	input[type="number"],
	input[type="email"]{
		width: 225px;
		//font-size:16px; // to prevent from zooming in ios
		&.tsInput--small {
			width: 175px;
		}
	}
}