.tsModal,
.tsModal--Alt {
    width: 100%;
    min-height: 10000px;
    height: 100%;
    position: fixed;
}

.tsModal-info {
    display: block;
    i {
        float: left;
        width: 100%;
        .padding(right;0);
        .padding(bottom;@gutter);
    }
}