.tsConfigure {
    .tsAccordianContainer {
        .tseDropdown {
            float: left;
            .margin(bottom;15);
        }
    }
}

.tsConfigure-resetContainer {
    float: left;
    width: 100%;
    .margin(top;@gutter/2)
}

.tsConfigure-reset {
    position: relative;
    top: auto;
    left: auto;
}