.tsConfigure {
    .tsSwitch {
        left: 280px;
    }
}

.tsConfigure-resetContainer {
    position: relative;
}

.tsConfigure-reset {
    position: absolute;
    top: -24px;
    left: 410px;
    text-align: center; 
    .padding(all;15);
}

.tsConfigure-reset-buttonContainer {
    .tsBtn {
        .margin(bottom;5);
    }
}