<div ng-if="visible">
    <div ng-if="loading">
        <div class="tscLoading--Full--PaddingHalfGutter"><div class="tsLoading-icon-large"></div></div>
    </div>
    <h2 class="h2 tsList-header" ng-if="!loading">{{ headline }}</h2>
    <ul class="tsList" ng-if="!loading">
        <li class="tsList-item tsColumn-list-4" ng-repeat="contact in contacts">
            <h4 class="h3 tsList-itemHeader">{{ contact.n }}</h4>
            <ul class="tsList--alt">
                <li class="tsList--alt-item" ng-if="contact.e"><a href="mailto:{{ contact.e }}"><i class="tsIcon-Mail"></i>{{ contact.e }}</a></li>
                <li class="tsList--alt-item" ng-if="contact.p"><a href="tel:{{ contact.p }}"><i class="tsIcon-Telephone"></i>{{ contact.p }}</a></li>
            </ul>
            
        </li>
    </ul>
</div>

