[class*="tsCampaignList"] > li {
    background-color: @white;
    background-color: @transparentwhite;
    .padding(all;25;30;30;30);  
    .margin(bottom;@gutter-double);
}

[class*="tsCampaignList"][class*="--product"] > li {
    border-top: 0;
}

[class*="tsCampaignList"] .tsCampaign-img {
    max-height: 300px;
}