ul.tsNotifications {
	.l-list();
	.padding(topbottom;10;10);
	li {
		.padding(all;8;0;8;0);
		p {
			.margin(all;0;0;0;50);
		}
		a {
			font-weight: bold;
		}
		i {
			float: left;
			width: 5rem;
			width: 50px;
			line-height: 2rem;
			color: @lightgrey;
		}
	}
}