.tsReviewsChart {
	width: 40%;
}
.tsReviewsRating {
	width:59%;
	border-left: 2px @ratingbgcolor solid;
	.padding(left;@gutter);
}
.tsReviewsInfo {
	width:100%;
	padding-left: 0!important;
    &>:first-child {
        float: none;
    }
}
