/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 * SUB-NAVIGATION........

*/





/*------------------------------------*\
    $SUB-NAVIGATION
\*------------------------------------*/
.tsSubNavigation {
	width:100%;
}

.tsSubNavigation > ul {
//.tsSubNavigation-Items {
    .l-list;
	border-top: 2px solid @lightergrey;
	border-bottom: 2px solid @lightergrey;
	.padding(topbottom;5;5);
}

.tsSubNavigation a {
    display: block;
    .padding(topbottom;5;5);
	font-weight: bold;
}
