/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * OVERVIEW............Donut-chart that gives a graphical overview of your engagements

*/





/*------------------------------------*\
    $OVERVIEW
\*------------------------------------*/

.tsOverview-category {
	width: 50%;
	float: left;
	position: relative;
	height: 60px;
	.margin(top;70);
	.padding(right;40);
	.padding(left;0);
	.margin(bottom;20);
}

.tsOverview-category h3 {
	font-size: 1em;
}

.tsOverview-chart svg {
    transform: rotate(-45deg) scale(1.9);
	-ms-transform: rotate(-45deg) scale(1.9); /* IE 9 */
	-webkit-transform: rotate(-45deg) scale(1.9); /* Safari and Chrome */
}

