
.tsHeroH1Intro {
	position: relative;
	.l-wrap-bleed(10);
}

.tsHeroH1Intro h1 {
	position: absolute;
	left: @gutter * 2px;
	top: 25px;
}

.tsHeroH1Intro .tsIntroText {
	.padding(leftright;@gutter*2;@gutter*2);
	text-align: center;
}

.tsHeroH1Intro img {
	display: block;
	.margin(bottom;@gutter/2);
}
