.tsCampaign{
	width: 100%;
	margin-bottom: 10px;
}

/*make campaign 2 rows high by default*/
.tsCampaign{
  height: 60px;
}

.tsCampaign:after{
  border-width: 30px !important;
  border-left-width: 10px !important;
  margin-top: -30px !important;  
}