
//TODO - Move this

/*
.tsColumn:first-child {
	width: 66.66%;
	float: left;
}
.tsColumn:last-child {
	width: 33.33%;
}
.tsColumn {
	a {
		.margin(bottom;3);
		text-align: left;
		.padding(left;@gutter);
	}
	a:first-child {
		.margin(top;60);
	}

}
*/
//Refill Page
/*
.tsRefill-wrapper-item {
	width: 66.66%;
	float: left;

}
.tsRefill-wrapper-item + .tsRefill-wrapper-item {
	width: 33.33%;
}
.tsRefill-wrapper-item-links:first-child {
	.margin(top;60);
}
.tsRefill-wrapper-item-links {
	.margin(bottom;3);
	text-align: left;
}*/