.tsReviewsChart {
    width: 33%;
}
.tsReviewsRating {
	width: 33%;
	border-right: 2px @ratingbgcolor solid;
	border-left: 2px @ratingbgcolor solid;
	.padding(leftright;@gutter;@gutter)!important;
}
.tsReviewsInfo {
    width: 33%;
	.padding(left;@gutter)!important;
}

.tsReviews > li {
    max-width: 65%;
}
.tsReviews-reviewhelp {
	max-width: 35%;
	float: left;
}

.tsReviewsChart {
    padding: 0 !important;
}
