@model Telia.NTW.Web.ViewModel.Admin.Hantera.Koncern
@{
    ViewBag.Title = "Skapa koncern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tsCrumbtrail tsCrumbtrail--middle tsWrapInner">
    <ul class="tsCrumbtrail-links" role="navigation">
        <li>@Html.ActionLink("Hantera", "Hantera")<i class="tsIcon-Breadcrumb"></i></li>
        <li>Skapa koncern</li>
    </ul>
</div>

<div class="tsBodyText tsWrapInner tsMarginBottom--None tsMarginTop">
    <h1>Skapa koncern</h1>
</div>

@Html.Partial("_Hantera_Koncern_EditForm")
