@import "table";
@import "table-mq-medium";

.lt-ie9 .tsTable--alt tbody td:before {
    display: none;
}
.lt-ie9 .tsTable--alt tbody td {
    border:none;
}
.lt-ie9 .tsTable--alt tbody td:first-child {
    text-align: left;
    padding-top: 0;
}
.lt-ie9 .tsTable--alt thead {
    display:table-header-group;
}