@import "subscription-offer"; 
@import "subscription-offer-mq-xsmall"; 
@import "subscription-offer-mq-small"; 
@import "subscription-offer-mq-medium"; 
@import "subscription-offer-mq-large"; 

.lt-ie8 .tsSubscriptionOffer {
	display: block;
}

.lt-ie8 .tsSubscriptionOffer li {
	display: inline;
	float: left;
	width: 19%;
}

.tsCharge-data .h4 {
    .margin(topbottom;40;38);
}

.lt-ie9 .tsBtn--Disabled {
	.opacity(0.5);
}
