.tsLibrary > li {
	width: 33.3333%;
}

.tsLibrary-innerlist--linkList > li{
    width: 25%;
}
.tsLibrary-small{
	margin-left: -1%;
}
.tsLibrary-small > li {
	width: 7.333%;
	height: 7.333%;
	margin: 1% 0 0 1%;
}
.tsLibrary-small .tsFoldout {
    width: 99%;
}