dl.tsLibrary {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.tsLibrary-innerlist--linkList {
    .margin(bottom;@gutter);
    li {
        width: 50%;
    }
}
.tsLibrary-small > li {
	width: 14.6%;
	height: 14.6%;
	margin: 2% 0 0 2%;
}
.tsLibrary-small {
	margin-left: -2%;
}
.tsLibrary-small .tsFoldout {
    width: 98%;
}