.tsBlockList {
    display: table;
    padding:0;
    border-collapse: separate;
	border-spacing: 10px;
}


.tsBlockList > li {
    display: table-cell;
    vertical-align: bottom;
    width: 20%;
}

.tsBlockList-title {
     .font-size(lineheight;30;36);
}

.tsBlockList-tag {
	margin-bottom: -25px;
}

.tsBlockList-image {
    display: block;
}

.tsBlockList-image--alt {
    display: none;
}