@model Telia.NTW.Web.ViewModel.Home.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tsComponent tsHero-imagecontainer--noZoom">
	<h1 class="h1 huge tsWrapInner tsComponent-header tsPaddingTop tsPaddingBottom">Nummertjänst</h1> @* .inverted *@

	<div class="tsHero-banner">
		<div class="tsWrapInner">
			<p>
				Nummertjänst är en tjänst där abonnemangsnummer hos Telia kan analyseras och administreras.
			</p>
		</div>
	</div>
</div>