


.tsDownloadables {
	.l-list;
}

.tsDownloadables > li {
	overflow: hidden;
	margin-bottom: 7px;
	padding-top: 5px;
}

.tsDownloadables a {
	color: @nearblack;
	
	&:before {
		float: left;
		margin-top: -5px;
		color: @purple;
	}

/*	
	&:after {
		content: attr(title);
	}
*/
}


