/*------------------------------------*\
  $BUTTON-CONTAINER
\*------------------------------------*/

.tsButtons-container {
    display: table;
    width: 100%;
}

.tsButtons-container .tsButtons {
    text-align: center;    
}

.tsButtons-container .tsButtons-info{
    .margin(topbottom;@gutter-half;@gutter-half;);
}