
.tsLibrary {
    .l-inline-list;
  // .margin(bottom;60);    
}

.tsLibrary > li {
	width: 50%;    
}

.tsLibrary-item {
	border-bottom: 0;
}	

dl.tsLibrary {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.tsLibrary-medium {
 -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;   
}

.tsLibrary-innerlist--linkList > li{
    width: 33.3333%;
}

.tsLibrary-small > li {
	width: 10.5%;
	height: 10.5%;
}

.tsLibrary-medium .tsLibrary-title {
  color:@linkcolor;
}
.tsLibrary-price,
.tsLibrary-secondaryprice {
    .font-size(12);
    display: block;
}
.tsLibrary-price {
    color: @blue;
    font-weight: bold;
}



.tsLibrary--Alt {
   // margin: 0 auto!important;
}
.tsLibrary--Alt {
    //max-width: 200px;
}
.tsLibrary--Alt p {
    letter-spacing: normal;
}