
.tsHeroH1Intro {
	.l-wrap-bleed(0);
}

.tsHeroH1Intro-Inner {
	position: absolute;
	left: 0;
	top: 0;
	.padding(all;@gutter;0;0;@gutter*2);
	width: 65%;
}

.tsHeroH1Intro h1 {
	position: relative;
	left: 0;
	top: 0;
}

.tsHeroH1Intro .tsIntroText {
	.padding(leftright;0;0);
	text-align: left;
}

.tsHeroH1Intro img {
	.margin(bottom;0);
}


