.tsCreatePortalUser {
    .tscForm--inlineLabelAbove {
        width: 100%;
    }
    .tsInfoBox {
        width: 100%;
        .margin(left;0);
    }
    .tscForm-fadedInfo {
        .margin(left;20);
    }
    .tscForm-inputContainer, .tscForm-inputContainer--noLabel{
        .margin(bottom;@gutter);
    }
    .tsOrderSteps-container {
        .margin(left;20);
    }
}

.tsCreatePortalUser--noPadding {
    .tsSwitch {
        left: 280px;
    }
}