.tsCreatePortalUser {
    .tscForm--inlineLabelAbove {
        float: left;
        width: auto;
        .tscForm-floatBlock--floatLarge {
            float: left;
            width: 70%;
            .tscForm-group {
                .padding(right;@gutter);
            }
        }
    }
    .tsInfoBox {
        float: left;
        width: 30%;
    }
}

