.tsThumbs{
text-align: center;
margin: 15px 0;

	a.tsPushDown-btn  {
		 color: @darkergrey;

		i.tsIcon-ThumbsUp{
			color: @grey;
			position: relative;
			top:2px;
			padding-right: 5px;
		}
		i.tsIcon-ThumbsUp:hover{
			color: @verification;
		}
		i.tsIcon-ThumbsDown{
			color: @grey;
			position: relative;
			top: 13px;
			padding-right: 5px;
		}
		i.tsIcon-ThumbsDown:hover{
			color: @validationerror;
		}
	}
	    


}
	