.max-width {
	max-width: 840px;
}

.field-validation-error,
.validation-summary-errors {
	display: block;
	color: red;
}

.clear-float {
	clear: both;
}

@media only screen and (min-width: 13em) {
	[class^="tseTextField"], [class*=" tseTextField"] {
		vertical-align: top;

		[class^="tsBtn"] {
			margin-top: 40px;
		}

		label {
			margin-top: 11px;
		}
	}
}
