.tsLinkListBox {
	max-width: 300px;
	width: 33.33%;
	background-color: @lightestblack;
	.padding(all;@gutter);
	float: right;
	ul{
		margin: 0;
		padding: 0;
		li{
  			margin: 0 15px;
		}
	}
}
.tsTextBlock {
	width: 66.66%;
	float: left;
	.padding(right;@gutter);
}