.tsQuickOrder {
    .padding(topbottom;@gutter-double;@gutter-double);
}

.tsQuickOrder-innerContainer{
    .margin(left;-@gutter);
}

.tsQuickOrder-dropdownContainer{
    display: table-cell;
    vertical-align: top;
    font-size: 0;
    width: 100%;
}

.tsQuickOrder-submitContainer{
    display: table-cell;
    vertical-align: top;
    float: none;
    .padding(left; @gutter);
}

.tsQuickOrder-dropdown{
    display:inline-block;
    .padding(left; @gutter);
    vertical-align: top;
    width: 50%;

    .tseDropdown{
        .margin(bottom;0);
        width:100%;
    }
}
