/*new button class*/
.js .tsPreview--xxsmall > [data-widget-collapse=inner] {
  max-height: 100px;
}



/*offer layout*/
.tsOffer{
	margin-bottom: 4rem;
	text-align: left;
  background-color: transparent !important;
}

.tsOffer:last-child{
  border-bottom: none;
}

.tsOffer-Row{
  border-bottom: solid 2px @lightgrey;
}

.tsOffer-HeaderCol{
  width: 100% !important;
  border-top: none;
}

.tsOffer-EndCol{
  width: 100%;
  position: static;
  display: table;
  padding: 10px;
}


.tsOffer-Description-Container {
  width: 100% !important;
  margin-bottom: 40px;
}

.tsOffer-PriceContainer{
  display: table-cell;
  width: 50%;
}

.tsOffer-ChooseContainer{
  display: table-cell;
  width: 50%;
  vertical-align: bottom;
  text-align: right;
}

/*extra info layout*/
.tsOffer-ExtraInfo .tsBtn--collapse{
  position: static;
}

.tsOffer-List-ExtraInfo-Table tr{
  display: block;
  width: 100%;
}
