.tsCombination-Product {
    float: left;
    width: 50%;
}

.tsCombination-Parts {
    float: right;
    width: 50%;
}

.tsCombination-Actions {
    clear: right;
    float: right;
//    .margin(top;@gutter*2);
}

