.tsSearch-result-item-image {
  width: 20%;
}
.tsSearch-result-list > li{
  .padding(leftright;@gutter;@gutter);
  &.tsSearch-result-item-image{
    .margin(bottom;@gutter-half/2);
    .padding(leftright;0;@gutter-half+5);
  }
}
.tsIcon-Search {
  right: 0px !important;
  top: 0px !important;
  background-color: #c3b4cd;
  color: @white;
  height: 37px;
  width: 42px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 38px;
  line-height: 3.8rem;
}

.is-loggedin .tsIcon-Search {
  top: 0 !important;
}

.tsSearch-result-url {
  max-width: 100%;
}
.tsSearch-results-more{
  .tsBtn--collapse{
    .padding(all;10;60;10;60);
  }
}
.tsSearch-results-float {
  .margin(bottom;@gutter-double);
}

.tsIcon-Search:hover {
  background-color: #c3b4cd;
  color: @white;
}
.tsSearch-searchbox {
  margin-right: 60px;
}
.tsSearch-searchbox > input {
  .font-size(26);
  padding-left: 10px;
}
.tsSearch-area-close {
  top: 20px;
  padding-right: 40px;
  .font-size(14);
}
.tsSearch-results-header {
  h1 {
    .font-size(lineheight;14;16);
  }
}
.tsSearch-image-container {
  .margin(bottom;@gutter-half/2);
}