.tsProductSelector {
	.tsWrapInner;
}

.tsProductSelector-container {
	position: relative;
	margin: 0 auto 40px auto;
	max-width: 440px;
}

.tsProductSelector-image {
	width: 100%;
	text-align: center;
	img {
		max-height: 200px;
		margin: 0 auto;
		position: relative;
		display: block;
	}
	.margin(bottom;@gutter-half);
	
}


.tsProductSelector-attributes {
	width: 100%;
	display: block;
	margin: 0 auto 40px auto;
	position: relative;
	text-align: center;
}

.tsProductSelector-header {
	.margin(bottom;@gutter);
}