/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 *
 */

/*------------------------------------*\
    $PRICELIST
\*------------------------------------*/

.tsPriceList-Section{
	width: 100%/6;
	height: 100%;
	display: table-cell;
	.padding(right;@gutter-half);
}
.tsPriceListBigHeader {
	h2{
		.font-size(18);
	}
}
.tsPriceList-Section-outer{
	.padding(bottom;@gutter-half+2);
}
.tsPriceList-Content{
	float: none;
	.margin(all;0);
}
#tsPriceList-Content-Placeholder{
	.padding(all;@gutter-double*2);
}
.tsPriceList-Content-middle{
	.margin(bottom;0);
}