/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * FOOTER NAVIGATION.........Social links
*/





/*------------------------------------*\
    $FOOTER NAVIGATION
\*------------------------------------*/


.tsFooter-links {
    .padding(top; @gutter-half);
}

.tsFooterNav-TopLevel [data-widget-collapse=trigger] {
	display: none;
}

.tsFooterNav-SubLevel > li {
	.inline-block;
	background-color: @purple;
}

.tsFooterNav-heading {
	float: left;
	display: inline;
	.padding(all;12;11);
	line-height: 24px;
	&:hover {
	    background-color: transparent;
	    text-decoration: underline;
	}
}

.tsFooterNav-SubLevel {
	float: right;
	width: 80%;
}

.tsFooterNav-TopLevel > li {
	overflow: hidden;
}

.tsFooterNav-TopLevel > li a:hover {
    background-color: transparent;
}

.tsFooterNav-TopLevel a {
	.padding(leftright;@gutter-half;@gutter-half);
}

.tsFooterNav-heading a {
	.padding(topbottom;0;0);
	.padding(leftright;0;0);
}

.tsFooterNav-SubLevel > li {
    &:hover {
        background-color: transparent;
    }
    > a:hover {
        text-decoration: underline;
        background-color: transparent;
    }
}


.tsFooter-social a {
    &:hover {
        background-color: transparent;
        color: @white;
        text-decoration: underline;
    }
}

