@import "order-summary-chart";
@import "order-summary-chart-mq-small";
@import "order-summary-chart-mq-medium";
@import "order-summary-chart-mq-large";



.lt-ie8 .tsColumns-3 {
	.tsChart-0,
	.tsChart-1,
	.tsChart-2,
	.tsOrderSummaryChart-column {
		width: 33.2%;
	}
	.tsChart-1to2 {
		width: 66.5%;
	}
}


.lt-ie8 .tsColumns-6 {
	.tsChart-0,
	.tsChart-1,
	.tsChart-2,
	.tsChart-3,
	.tsChart-4,
	.tsChart-5,
	.tsOrderSummaryChart-column {
		width: 16.6%;
	}

	.tsChart-1to2,
	.tsChart-2to3,
	.tsChart-3to4,
	.tsChart-4to5 {
		width: 33.3%;
	}

	.tsChart-1to3,
	.tsChart-2to4,
	.tsChart-3to5 {
		width: 50%;
	}

	.tsChart-1to4,
	.tsChart-2to5 {
		width: 66.6%;
	}

	.tsChart-1to5 {
		width: 83.3%;
	}
}


.lt-ie8 .tsOrderSummaryChart-headerrow .tsOrderSummaryChart-column {
	padding-left: 0;
}

.lt-ie8 .tsOrderSummaryChart-row {
	margin-bottom: 2px;
}

.lt-ie8 .tsOrderSummaryChart-columns {
	width: 68%;
}
