.tsSearchResults{
    .search {
        .search-inner {
            .padding(leftright;@gutter-double;@gutter-double);
            .padding(topbottom;15;15);
        }
    }
}

.tsSearchResults--inHero{
    .tsSearchResults;
    .search {
        background-color: transparent;
        .search-inner {
            background-color: @lightclay;
            .padding(leftright;@gutter;@gutter);
            max-width: (@width-innerwrap - @gutter-double);
        }
    }

}

.tsSearchResults-categoryList{
    .padding(top;@gutter-double);
}


.tsSearchResults-categoryItem tbody td {
    .padding(topbottom; @gutter-half; @gutter-half;);
}

.tsSearchResults-docListing {
    li {
        width: 33.333333%;
    }
}