@import "_search.less";

@import "_search-mq-xsmall.less";
@import "_search-mq-medium.less";
@import "_search-mq-large.less";

.tsSearch-results-area {
  // zoom: 1;  
  // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
}


.tsSearch-submit {
    text-indent: 100%;
}

.ie7 .tsHeader-Search .tsSearch-form  {
	position: relative;
}

.ie7 .tsSearch-form .tsIcon-Search {
    right: -2px;
    top: 1px;
}

.tsSearch-form .tsSearch-form-input {
    min-height: 24px;
    max-height: 40px;

}

.ie7 .tsSearch-form-input {
    height: 33px;
    .padding(topbottom;1;1);
    position: absolute;
    right: 0;
}
