
.tsWrapInner.tsDictionary-Wrapper {
	//.padding(right;80);
}

.tsIndex-Wrapper {
	//width: 100%;
}

.tsDictionary {
	margin-right: 0px;
}
.tsIndex-Wrap {
	right: 40px;
}
.tsIndex-Wrap.is-fixed .tsIndex{
	right: 40px;
}