@model Telia.NTW.Web.ViewModel.Webbstyrning.Multistyrning.Multistyrning_Alternativ_FormViewModel

@{
    ViewBag.Title = "Skapa Multistyrningsalternativ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tsCrumbtrail tsCrumbtrail--middle tsWrapInner">
    <ul class="tsCrumbtrail-links" role="navigation">
        <li>@Html.ActionLink("Multistyrning", "Index")<i class="tsIcon-Breadcrumb"></i></li>
        <li>Skapa Multistyrningsalternativ</li>
    </ul>
</div>

<div class="tsBodyText tsWrapInner tsMarginTop">
    <h1 class="h1">Skapa Multistyrningsalternativ</h1>
</div>

<div class="tsWrapInner tsMarginBottom">

    @Html.Partial("_Alternativ_EditForm", Model)
</div>
