.tsOrderSteps {
	//background: lighten(@lighterclay,2%);	
}

.tsOrderSteps-container {
	.tsWrapInner;
	text-align: center;
	background: @lightclay;
	.padding(all; @gutter-double;@gutter-double;@gutter;@gutter-double);
}

.tsOrderSteps-link {
	font-weight: bold;
	display: block;
	.margin(top;@gutter-half);
	.font-size(13);
}



.tsOrderSteps--alt {
	background: @white;	
	.tsOrderSteps-container {
		background: #f6f6f6;
	} 
}