.tsHero-outer
{
    padding-bottom: 20%;
}
.tsHero-imagecontainer--alt .tsHero-inner-image,
.tsHero-imagecontainer--alt .tsHero-inner-image--alt {
	padding-bottom: 40%;
}
.tsCarousel--alt .tsHero-inner-image--alt,
.tsCarousel--alt .tsHero-inner-image {
	padding-bottom: 50%;
}


.tsHero-banner-left {
	float: left;
    width: 57%;
}
.tsHero-banner-right {
	float: right;
    width: 43%;
}