/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * HERO ITEMS................Item/Item content
*/



/*------------------------------------*\
    $HERO ITEMS
\*------------------------------------*/

.tsHero-outer{
        padding-bottom: 30%;
    }

.tsHero-imagecontainer--alt .tsHero-inner-image,
.tsHero-imagecontainer--alt .tsHero-inner-image--alt {
	padding-bottom: 50%;
}

.tsHero-banner-left {
    width: 100%;
}
.tsHero-banner-right {
    width: 100%;
}