.tsImage-list-Wrapper {
	width: 100%;
	display: inline-block;

	.tsImmage-list-Image{
		float:left;
		padding-bottom: 10px;
	}
}

.tsImmage-list-Image:nth-child(odd){
	padding-right: 10px;
	padding-left: 0px;
}
.tsImmage-list-Image:nth-child(even){
	padding-left: 10px;
	padding-left: 0px;
}