.tsTransferSubscription {
  padding: 20px 0 20px 0;
}

.tsTransferSubscription * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tsTransferSubscription li.nostyle {
  list-style: none;
}

.tsTransferSubscription i {
  color: #652d86;
  font-size: 16px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

.tsTransferSubscription ul li {
  font-size: 13px;
}

.tsTransferSubscription .tseDropdown{
  width: 100%;
  margin-bottom: 20px;
}

.tsTransferSubscription-dropdownContainer {
  float: left;
  width: 55%;
  border: 1px solid lightgrey;
  padding: 15px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(189, 189, 189, 0.75);
  -moz-box-shadow: 0px 4px 10px 1px rgba(189, 189, 189, 0.75);
  -webkit-box-shadow: 0px 4px 10px 1px rgba(189, 189, 189, 0.75);
}

.tsTransferSubscription-leftSection {
  width: 55%;
}

.tsTransferSubscription-rightSection {
  width: 40%;
}

.privtopriv, .comptocomp, .privtocomp, .comptopriv {
  cursor: pointer;
}

.tsTransferSubscription-dropdownContainer h3 {
  color: #652d86;
  padding-bottom: 10px;
}

.tsTransferSubscription-dropdownContainer input {
  width: 100%;
}

.tsTransferSubscription-inputFields-container textarea {
  width: 100%;
}

.tsTransferSubscription-inputFields {
  border: 1px solid lightgrey;
  padding: 15px;
  margin: 15px 0 15px 0;
  border-radius: 5px;
}

.tsTransferSubscription-inputFields h3 {
  color: #652d86;
  padding-bottom: 10px;
}

.tsTransferSubscription-inputFields li {
  padding-bottom: 10px;
}

.tsTransferSubscription-subHeading {
  font-weight: bold;
}

.tsShowInfo {
  display: none;
}

.tsTransferSubscription p {
  margin-bottom: 5px;
}

.tsTransferSubscription p.label_checkbox_pair label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.tsTransferSubscription p.label_checkbox_pair input {
  width: 23px;
  height: 17px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* NEW CSS from here */
.tsNoticeText {
  color: red;
  font-size: 12px;
}

.tsMoreInformationText {
  background-color: white;
  padding: 10px;
  border: 1px solid lightgrey;
}

.moreInformationText ul li {
  font-size: 13px;
}

.pdfContainer a[href$=pdf]:before {
  content: "";
  background-image: none;
}

.addServiceMessage {
  display: none;
  color: green;
}

.req::after {
  content: " *";
}

.publicIpCheckboxContainer {
  display: none;
}

.publicIpCheckboxWrapper {
  display: none;
}

#cancelPrintButton {
  margin-right: 10px;
}

.printButtons {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* PRINT CSS */
.printcontainer {
  clear: both;
  width: 100%;
}

#companyBarcode {
  width: 250px;
  margin-right: 20px;
  float: right;
}

#privateBarcode {
  width: 250px;
  margin-right: 20px;
  float: right;
}

#privateBarcode {
  width: 200px;
}

.barcodeContainer {
  overflow: hidden;
}

.serviceHeader {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.adressHeaderContainer {
  clear: both;
}

.addressContainer {
  margin-right: 70px;
  margin-top: 35px;
}

div.furtherInformation {
  padding: 30px;
  font-size: 14px;
}

.tsTransferSubscription-printTable {
  width: 95%;
  border: 1px solid grey;
  margin: 20px;
  font-size: 11px;
}

.tsTransferSubscription-printTable td {
  padding: 5px;
  width: 50%;
}

.tsTransferSubscription-printTable td.tsTransferSubscription-tableHeading {
  background-color: #D9D8CD;
}

.iconContainer {
  width: 140px;
  margin-top: 20px;
}

.iconText {
  font-size: 34px;
}

.documentId {
  font-family: Arial;
  font-size: 8px;
  text-align: right;
  clear: both;
  margin-right: 20px;
}

.printHeader {
  font-size: 30px;
  color: #521b74;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
}

.printLongHeader {
  font-size: 22px;
  color: #521b74;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
}

.printSubHeader {
  font-size: 20px;
  color: #521b74;
  margin-top: 5px;
  margin-left: 20px;
}

.printSubSubHeader {
  font-size: 14px;
  color: #521b74;
  margin-top: 2px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.nopagebreak {
  page-break-inside: avoid;
}

.alwayspagebreak {
  page-break-inside: avoid;
  page-break-after: always;
}

.tsPullLeft {
  float: left;
}

.tsPullRight {
  float: right;
}

.tsMarginTop {
  margin-top: 20px !important;
  margin-top: 2rem !important;
}

.tsModuleSpace {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

input[type="text"] {
padding: 11px;
margin-bottom: 10px;
}

@font-face {
font-family:'iconfont';
src:url('/dms/templating-kit/themes/telia-se/types/Telia-Icon-Glyphs-eot/Telia-Icon-Glyphs-eot.eot');
src:url('/dms/templating-kit/themes/telia-se/types/Telia-Icon-Glyphs-eot/Telia-Icon-Glyphs-eot.eot?#iefix') format('embedded-opentype'),
url('/dms/templating-kit/themes/telia-se/types/Telia-Icon-Glyphs-woff/Telia-Icon-Glyphs-woff.woff') format('woff'),
url('/dms/templating-kit/themes/telia-se/types/Telia-Icon-Glyphs-ttf/Telia-Icon-Glyphs-ttf.ttf') format('truetype'),
url('/dms/templating-kit/themes/telia-se/types/Telia-Icon-Glyphs-svg/Telia-Icon-Glyphs-svg.svg#Telia-Icon-GlyphsRg') format('svg');
font-weight:normal;
font-style:normal
}

[class*='tsIcon-'],
[class^='tsIcon-'] {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: iconfont;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1em;
  speak: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
[class*='tsIcon-'] > b,
[class^='tsIcon-'] > b {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
[data-icon]:before {
  font-family: 'iconfont';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class*="tsIcon-Close"]:before {
  content: "\e019";
}
[class*="tsIcon-Information"]:before {
  content: "\e026";
}
[class*="tsIcon-Help"]:before {
  content: "\e028";
}

.tseDropdown {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 28px;
  vertical-align: middle;
}
.tseDropdown[disabled=disabled] {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.tseDropdown[disabled=disabled] .tseDropdown-selected {
  cursor: default;
}
.tseDropdown-selected {
  position: relative;
  z-index: 3;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #595959;
  border: 1px solid #c7c2ba;
  line-height: 0;
  font-weight: normal;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  padding: 11px 24px 12px 11px;
  *padding: 0;
  background: #ffffff;
  z-index: 2;
}
.tseDropdown-label {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 1.4285714285714286em;
  max-width: 100%;
  /*line-height: normal; /* bÃ¤ttre lÃ¶sning? ff-issue */
  /*margin-bottom: -3px; /* bÃ¤ttre lÃ¶sning? ff-issue */
  *padding-left: 7px;
}
.tseDropdown-list {
  position: absolute;
  min-width: 100%;
  display: none;
  border: 1px solid #c7c2ba;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px;
  margin: 0rem;
  margin-top: -1px;
  margin-top: -0.1rem;
  padding: 0px;
  padding: 0rem;
  background: #ffffff;
}
.tseDropdown-listItem {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 11px 24px 12px 11px;
  padding: 1.1rem 2.4rem 1.2rem 1.1rem;
  /*padding: 0 7px 0 7px !important;*/
  color: #595959;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: 13px;
  font-size: 1.3rem;
}
.tseDropdown-listItem:hover {
  background-color: #f0efed;
}
.tseDropdown-listItem[data-stock='na'] {
  color: #bfbfbf;
  cursor: default;
}
.tseDropdown-listItem[data-stock='na']:hover {
  background: #ffffff;
}
.tseDropdown-listItem--selected {
  border-bottom: 0;
  background: #f0efed;
  border-bottom: 1px solid #f0efed;
}
.tseDropdown-focus {
  border: 1px solid #0095d8;
}
.tseDropdown-arrow {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  right: 10px;
  top: 19px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0;
  z-index: 1;
}

[class^="tsBtn"] {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 8px 11px 8px 11px;
  border: none;
  vertical-align: middle;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  background-color: #652d86;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  white-space: nowrap;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

[class^="tsBtn"]:hover {
  background-color: #401c54;
  color: #ffffff;
}