
.tsCallouts {
	.l-inline-list(16);
}

.tsCallout {
	width: 33.3333%;
	border-top: none;
}

.tsCallout a {
	.padding(topbottom;0;@gutter/2);
}


.tsCallout a > * {
	.padding(leftright;0;0);
}

.tsCallout img {
	display: block;
	.margin(bottom;@gutter/2);
}
