/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 * PRODUCT-HIGHLIGHTS........
 * PRODUCT-INTRO.............
 * PRODUCT-IMAGE.............
 * PRODUCT-LEADINS...........
 * PRODUCT-ATTRIBUTES........
 * MOVIE.....................

*/





/*------------------------------------*\
    $PRODUCT-Information
\*------------------------------------*/
.tsProductIntro-Information,
.tsProductIntro .tsMediaSelector-Wrapper {
	float: left;
	width: 50%!important;
	.padding(leftright;30;15);
}
.tsProductIntro .tsMediaSelector-Wrapper {
	padding-left: 0;
	margin-bottom: 0;
}
.tsProductIntro-Leadin {
	float: left;
	width: 100%;
}
.tsProductIntro {

}
/*------------------------------------*\
    $PRODUCT-IMAGE
\*------------------------------------*/

/*------------------------------------*\
    $PRODUCT-LEADINS
\*------------------------------------*/
.tsProductIntro-Leadin {
	.padding(leftright;15;0);
}
