.tsResultList {
	.margin(bottom;@gutter-double);
	.margin(leftright;-@gutter-half;-@gutter-half);
}

.tsResultList-List {
	margin: 0;
	padding: 0;
	.margin(top;@gutter-double);
	border-bottom: 1px solid @lightergrey;
}

.tsResultList-List li {
	list-style: none;
	.clearfix;
	border-top: 1px solid @lightergrey;
	.padding(all;@gutter-half);
	vertical-align: middle;
	line-height: 40px;
}

.tsResultList-Icon {
	.font-size(32);
	color: @purple;
	float: left;
	.margin(right; @gutter-half);
}

.tsResultList-Name {
	float: left;
	.font-size(14);
}

.tsResultList-Price {
	float: right;
	text-align: right;
	.font-size(14);
}

.tsResultList-Footnote {
	.font-size(13);
	.margin(top;@gutter-half);
}

//[data-fpc] {
//    color: red;
//}

// temp!
.tsLoading-icon-large.is-center {
    display: block;
    margin: 0 auto;
}


