

.tsMap {
	//.margin(leftright;-10;-10);
	.margin(right;44);
	padding-bottom: 125%;
}

.tsMap-Details {
	.padding(all;0;@gutter-half;@gutter-half;@gutter-half);
	right:auto;	
	max-width: none;
}

.tsMap-Close {
	left: auto;
	right: 8px;
}

.tsMap-Details h3 {
	margin-bottom: @gutter/4*1px;
	.margin(top;10);
}

.tsMap-Details > :last-child {
	.margin(bottom;10);
}

