@import "easytofind";
@import "easytofind-mq-xsmall";
@import "easytofind-mq-medium";



.lt-ie9 .tsEasyToFind-heading {
    .margin(all;0;@gutter*2;@gutter/2;@gutter*2);
}
.lt-ie9 .tsEasyToFind-linkswrapper {
	overflow: hidden;
    .margin(all;0;@gutter*2;0;@gutter*2;)
}

.lt-ie9 .tsEasyToFind-links a {
//    overflow: hidden;
    display: block;
    float: right;
    width: 387px;
}

.lt-ie9 .tsProductItem {
    cursor: pointer;
}
