[class*="tsLinkBtn--small"]{
	.btn();
}
[class*="tsLinkBtn--small"][class*="--bottomSpace"]{
	.margin(bottom; 5);
}

[class^="tsBtn"][class*="--switch--small"]{
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}