[class^="tsBtn"][class*="--switch--xsmall"]{
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

[class^="tsBtn"][class*="--switch--small"]{
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}