.tsQuickOrder {
    background-color: @darknearwhite;
    .padding(topbottom;@gutter;@gutter);


    .tseDropdown{
        width: 100%;
        .margin(bottom;@gutter);
    }

    .tseDropdown-label{
        white-space: normal;
    }

    .tseDropdown-listItem{
        white-space: normal;
    }
}



.tsQuickOrder-submitContainer{
    float: right;
}

.tsQuickOrder-heading {
    color: @nearblack;
    .padding(bottom;@gutter);
}