.tsCampaignPage {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 1px solid @white;
}

.tsCampaignPage-h1 {
    font-weight: normal;
    .margin(bottom;@gutter);
}

.tsCampaignPage-h2 {
    font-weight: normal;
    .margin(bottom;@gutter-half);
}

a.tsCampaignPage-h1,
a.tsCampaignPage-h2 {
    color: @purple;
}