/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 * CRUMBTRAIL........

*/





/*------------------------------------*\
  $CRUMBTRAIL
\*------------------------------------*/

.tsCrumbtrail {
    .vertical-space(bottom);
}

.tsCrumbtrail--middle {
    margin-bottom: 0;
    .padding(topbottom;@gutter-half;@gutter-half);
}

.tsCrumbtrail ul {
	.l-inline-list;
}

.tsCrumbtrail ul > li {
	color: @grey;
	.font-size(11);
}

.tsCrumbtrail a {
	color: @grey;
	&:hover {
	    text-decoration: underline;
	}
}


.tsCrumbtrail i {
	.font-size(10);
	.margin(leftright;@gutter-half/2;@gutter-half/2);
}


