/* 
* ------------------------------------------------------------------------
* InfoRow mq medium
* ------------------------------------------------------------------------
*/
.tscInfoRow-fluidContainer {
    [class^="tscInfoRow-fluid"] {
        >div {
            .tseDropdown-list{
                width: auto;
            }
            .tseDropdown-listItem{
                white-space: nowrap;
                word-break: break-all;
            }
        }
    }
}