.tsSettings-trigger {
    @w: 74-45;
    background: @lightergrey;
    width: 74px;
    .padding(right;@w);  
    i.tsIcon-ArrowDown {
        .font-size(lineheight;8;45);
        position: absolute;
        right: 0;
        top: 0;
        width: ~"@{w}px";
    }
}

.tsSettings-menu {
    position: relative;
}

.tsSettings-menu-list {
    position: absolute;
    background: @white;
    display: none;
    right: 0;
    top: -18px;
    z-index: 10;
    width: 300px;
    border: 1px solid @lightergrey;
    .tsSettings-menu-item {
        border-bottom: 1px solid @lightergrey;
        &:hover {
            background: @nearwhite;
        }
        &:last-child {
            border-bottom: none;
            a {
                color: @orange; 
            }
        }
        .tsIconBackground {
            .icon-background(50;@lightgrey);
            display: inline-block;
            .margin(left;-10);
        }
    }
    .tsSettings-menu-item a {
        font-weight: bold;
        .padding(all;@gutter-half;@gutter;@gutter-half;@gutter);
        display: block;
        .tsSettings-headerLabel {
            position: relative;
            top: 5px;
            left: 5px;
            display: inline-block;
        }
        .tsSettings-label {
            display: block;
            color: @grey;
            font-weight: normal;
        }
    }
    .tsSettings-menu-item--Select {
        .padding(all;@gutter-half;@gutter;@gutter-half;@gutter);
        border-bottom: 1px solid @lightergrey;
        span {
            color: @black;
        }    
    }

}
