

.tsMap { 
	position: relative;
	.margin(leftright;0;0);
//	width: 100%;
	height: 0;
	padding-bottom: 60%;
}



.tsMap-Details {
	right: 0;
	.padding(all;@gutter;@gutter*2;@gutter;@gutter*2);

	max-width: 400px;
}

.tsMap-Close {
	//left: 8px;
}
.tsMap-Close:before {
	.font-size(10);
}

.tsMap-Header {
	.font-size(lineheight;18;24);
	font-weight: bold;
}

.tsMap-Details > :last-child {
	.margin(bottom;20);
}


.tsMap-Header h3{
	padding-right: 0;
}
