.tsSettings-trigger {
    display: none;
}

.tsSettings-menu-list {
    display: block!important;
    .tsIconBackground {
        display: none;
    }
    .tsSettings-headline {
        display: none;
    }
}

