@{
    ViewBag.Title = "User_Saved";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="tsWrapInner">
	<div class="tsBodyText tsMarginTop">
		<h1 class="h1">Användaren sparad</h1>
	</div>

	<p>Du kan nu stänga fönstret.</p>
@*	<button class="tsBtn--Regular tsMarginTop tsMarginBottom--doubleGutter" onclick="window.close()">Stäng fönstret</button>*@
</div>