.tsCampaignHero {
    padding: 0 !important;

    .tsCampaignText {
        .padding(leftright;@gutter;@gutter);
    }
    
    .tsCampaign-img {
        overflow: hidden;
        width: 100%;
        img {
            max-width: 140%;
            margin-left: -20%; //(140-100)/2
        }
    }
}

