/*------------------------------------*\
    $LIST WITH INPUT FIELDS
\*------------------------------------*/

.tsInputList {
    .tsAccordion-list-item {
        .tscForm-inputContainer {
            width: 100%;
            .margin(left;0);
            input.tseInput--small {
                width: 100%;
                .margin(bottom;5);
            }
            input.tsBtn {
                float: right;
                .margin(bottom;2);
            }
        }
    }
}
