/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 * PRODUCTLIST-ITEMS........

*/





/*------------------------------------*\
  $PRODUCTLIST-ITEMS
\*------------------------------------*/


.tsProductList--Alt,
.tsProductList--Alt--Large {
    
    .tsProductItem {
        display: block;
        .media;
        text-align: left;
    }
    .tsProductItem-Info{
        padding-left: 10px;
        height: 165px;
    }
    .tsProductItem-Desc {
        min-height: 0 !important;
    }
    .tsProductItem-Price {
        padding-left: 0;
        padding-right: 15%;
    }
    .tsProductItem-Img {
        width: 35%;
    }
}


.tsProductList--Alt--XLarge .tsProductItem-Img img {
    max-width: 80%;
}