[class^="tsForm"][class*="--Inline"] {
	label { 
		.inline-block;
		line-height: 40px;
		.margin(all;0;@gutter-half;0;@gutter-half);
	}
	input[type="text"],
	input[type="number"], 
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea { 
		width: auto;
		.margin(bottom;0);  
	}
}
.tsForm--XLarge {
	.clearfix;
}
.tsField-right,
.tsField-left {
	width: 50%;
	.clearfix();
}

.tsField-left{
	float: left;
	.padding(right;@gutter);
}
.tsField-right{
	float: right;
	.padding(left;@gutter);
}