/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 * SUBSCRIPTION-OFFERCOMBO...

*/





/*------------------------------------*\
    $SUBSCRIPTION-OFFERCOMBO
\*------------------------------------*/

.tsSubscriptionCombo-Division + .tsSubscriptionCombo-Division {
    border-bottom: 3px solid @darknearwhite;
}

.tsSubscriptionCombo-Tag,
.tsSubscriptionCombo-Tag--Alt {
    .padding(topbottom;@gutter/4;@gutter/4);
    background-color: @clay;
    color: white;
    .font-size(12);
}

.tsSubscriptionCombo-List .tsSubscriptionCombo-item {
    border-top: 1px solid @white;
}

.tsSubscriptionCombo-List .tsSubscriptionCombo-item:nth-child(odd) {
    background-color: lighten(@nearwhite, 1%);
}

.tsSubscriptionCombo-List .tsSubscriptionCombo-item:first-child {
    border: none;
}

.tsSubscriptionCombo .tsSubscriptionOffer-speed {
    .inline-block;
    .padding(top;@gutter/2);
	.font-size(lineheight;25;30);
}

.tsSubscriptionCombo .tsSubscriptionOffer-label {
    .inline-block;
    margin-bottom: 0;
}

.tsSubscriptionCombo .tsSubscriptionOffer-price {
    margin: 0;
    .padding(bottom;@gutter/2);
}

.tsSubscriptionCombo-Options {
    clear: both;
    .l-list;
}

li.tsSubscriptionCombo-Option {
    .padding(topbottom;@gutter/2;@gutter/2);
}

.tsSubscriptionCombo .tsBtn--Primary {
    .margin(topbottom;@gutter;@gutter);
}



