/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * SHORT-CUTS..........Dynamic short-cuts for the start page
 
*/





/*------------------------------------*\
    $SHORT-CUTS
\*------------------------------------*/


.tsShortCuts-formField-container {
    width: 100%;
    display: table-cell;
    vertical-align: top;

}

.tsShortCuts-formSubmit-container {
    display: table-cell;
    vertical-align: bottom;
    float: none;
}

.tsShortCuts-formField {
    display:inline-block;
    width: 48%;
    width: -webkit-calc(~"50% - 12px");
    width: calc(~"50% - 12px");
    .margin(right;10);
    input {
        width: 100%;
        padding: 10px;
    }
    label {
        width: 100%;
    }
}