@import "_subnavigation.less";
@import "_subnavigation-mq-medium.less";

.lt-ie9 .tsSection-nav-link-label {
    display: none;
}
.lt-ie9 .tsSection-nav .tsSection-nav-link:hover .tsSection-nav-link-label {
    display: inline-block;
}
.tsSection-nav-link .tsSection-nav-link-dot {
    background-color: #B2B2B2; //30% of black in ie
}
.tsSection-nav-link:hover .tsSection-nav-link-dot {
    background-color: #666666; //60% of black in ie
}