.ts360view-tag-list {
    display: none;
}
.ts360view-pie-wrapper {
    max-width: 420px;
    .padding(all;10);
}
.ts360view-pie-background {
    .margin(all;-10;0;0;-10);
    border-radius: 210px;
}
.ts360view-category-list {
    margin-top: 0!important;
    .ts360view-category-item {
        .margin(top;20;"!important");
    }
}

