[class^="tsForm"] {
	max-width: 300px;
}
[class^="tsForm"][class*="--Medium"] {
	max-width: 500px;
}
[class^="tsForm"][class*="--Large"] {
	max-width: 700px;
}
[class^="tsForm"][class*="--XLarge"] {
 	max-width: none;
}
