<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<SAMLConfiguration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="urn:componentspace:SAML:2.0:configuration">
  <PartnerIdentityProvider xdt:Transform="RemoveAll" />
  
  <PartnerIdentityProvider  xdt:Transform="Insert"
                            Name="https://idp.internal4.teliasonera.net"
                            CertificateFile="Certificates\TeliaIdpInternProduktion_2015-11-19.crt"
                            SingleSignOnServiceUrl="https://idp.csr.services.telia.se/sso/SSO" />
  
  <PartnerIdentityProvider  xdt:Transform="Insert"
                            Name="https://ntwidp.tewss.telia.se"
                            CertificateFile="Certificates\TeliaExternProduktion_2015-08-31.crt"
                            SingleSignOnServiceUrl="https://access.tewss.telia.se/sso/SSO" />
</SAMLConfiguration>