<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Telia.NTW.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--<add name="NTW" connectionString="Data Source=localhost;Initial Catalog=AdvanceWebb;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
		<add name="AdvanceWebbASConnection" connectionString="data source=localhost;initial catalog='Advance Webb'" />
		<add name="AdvanceWebbEntities" connectionString="metadata=res://*/Models.AdvanceWebbModel.csdl|res://*/Models.AdvanceWebbModel.ssdl|res://*/Models.AdvanceWebbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AdvanceWebb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="NtwEfModel" connectionString="metadata=res://*/Entities.NtwEfModel.csdl|res://*/Entities.NtwEfModel.ssdl|res://*/Entities.NtwEfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AdvanceWebb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="NtwEfModel" connectionString="metadata=res://*/Entities.NtwEfModel.csdl|res://*/Entities.NtwEfModel.ssdl|res://*/Entities.NtwEfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nt255dbntwt.tcad.telia.se;Initial Catalog=Advancewebb;Integrated Security=false;User ID=NTW_test_CAP;Password=Bfn94!Eu8@N%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="NTW" connectionString="Data Source=nt255dbntwt.tcad.telia.se;Initial Catalog=Advancewebb;Integrated Security=false;User ID=NTW_test_CAP;Password=Bfn94!Eu8@N%;" providerName="System.Data.SqlClient" />
		<!--    <add name="SqlProvider" connectionString="data source=localhost;initial catalog=AdvanceWebb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" />-->
		<!-- TEST psw-web -->
		<!--<add name="NTW" connectionString="Data Source=psw-sql.sigma.dev;Initial Catalog=TeliaNTW;Persist Security Info=True;User ID=telia-ntw;Password=95LHzYjLMkNyFp5B1wK8"  providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="PartnerIdp" value="https://sts.windows.net/05764a73-8c6f-4538-83cd-413f1e1b5665/" />
		<add key="RelayState" value="" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="vs:EnableBrowserLink" value="false" />
		<!--<add key="ida:ClientId" value="a9a992ee-9191-46ca-8f57-e7ea2728f258" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="teliacompanyspace.onmicrosoft.com" />
    <add key="ida:TenantId" value="05764a73-8c6f-4538-83cd-413f1e1b5665" />
    <add key="ida:PostLogoutRedirectUri" value="" />-->
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web>
		<!-- See Web.Release.config for release error config. -->
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<!--<forms loginUrl="/CustomErrors/CustomError403" timeout="5000" />-->
			<!--<forms loginUrl="/SAML/Login" timeout="2000" />-->
			<forms loginUrl="/SAML/InitiateSingleSignOn" timeout="5000" />
			
		</authentication>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5" />
		<roleManager defaultProvider="NtwRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="NtwRoleProvider" type="Telia.NTW.Web.NTWRoleProvider, Telia.NTW.Web, Version=1.0.0.0, Culture=neutral" connectionStringName="NtwEfModel" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" />
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthenticationModule" />
		</modules>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Telia Code\NTWCode\src\NTW\NTW\Logs\logs.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<!--      <immediateFlush value="true" />-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p: %m%n" />
			</layout>
		</appender>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p: %m%n" />
			</layout>
		</appender>
		<root>
			<appender-ref ref="TraceAppender" />
			<level value="DEBUG" />
		</root>
	</log4net>
	<applicationSettings>
		<Telia.NTW.Web.Properties.Settings>
			<setting name="StaffUsername" serializeAs="String">
				<value>stavip</value>
				<!--<value>NTW_test_CAP</value>-->
			</setting>
			<setting name="StaffPassword" serializeAs="String">
				<value>9tt_PW12</value>
				<!--<value>Bfn94!Eu8@N%</value>-->
			</setting>
			<setting name="ExternalIdP" serializeAs="String">
				<value>https://test-ntwidp.tewss.telia.se</value>
			</setting>
			<setting name="InternalIdP" serializeAs="String">
				<value>https://test-idp.internal4.teliasonera.net</value>
			</setting>
			<setting name="ExternalLogin" serializeAs="String">
				<value>http://www.telia.se/foretag/minasidorpaarbetet/</value>
			</setting>
			<setting name="ExternalIdPLogin" serializeAs="String">
				<value>https://access.tewss.telia.se/sso/SSO?SPEntityID=https://www.advance.telia.com</value>
			</setting>
			<setting name="InternalIdPLogin" serializeAs="String">
				<value>https://test-idp.internal.teliasonera.net/sso/SSO?SPEntityID=https://www.advance.telia.com</value>
			</setting>
			<setting name="StaffOdbcName" serializeAs="String">
				<value>AdvanceStaff</value>
				<!--<value>DSN_NTW</value>-->
			</setting>
		</Telia.NTW.Web.Properties.Settings>
	</applicationSettings>
	<!-- The diagnostics are only required for problem determination. -->
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="TextWriter" />
			</listeners>
		</trace>
		<sources>
			<source name="ComponentSpace.SAML2" switchValue="Verbose">
				<listeners>
					<add name="TextWriter" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<!-- Ensure IIS has create/write file permissions for the log folder. -->
			<add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\logs\sp.log" />
		</sharedListeners>
	</system.diagnostics>
</configuration>