<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 <!--
  __________ATTENTION__________
  This document should not contain any transformations.
  Transformations is made on publish and since you normally run debug on your local machine with "Start" instead
  configurations in this file is never used.
  Therefore are Debug configurations should be made in "Web.config".
 -->
</configuration>