<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="NtwEfModel" connectionString="metadata=res://*/Entities.NtwEfModel.csdl|res://*/Entities.NtwEfModel.ssdl|res://*/Entities.NtwEfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=advancewebb-t.db.teliasonera.net;initial catalog=AdvanceWebb;User Id=AdvanceWebb_app;password=khjsjGGtt!!??sFFRR;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	
	<system.web>
		<customErrors mode="RemoteOnly" xdt:Transform="Replace">
		</customErrors>
		<authentication mode="Forms">
			<forms loginUrl="/Home/Index" timeout="30" xdt:Transform="SetAttributes" />
		</authentication>
	</system.web>
	
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
			<file value="E:\Log\NTW\logs.log" xdt:Transform="Replace"/>
		</appender>
		<root>
			<appender-ref ref="RollingLogFileAppender" xdt:Transform="Replace"/>
		</root>
	</log4net>
</configuration>