<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="NtwEfModel" connectionString="metadata=res://*/Entities.NtwEfModel.csdl|res://*/Entities.NtwEfModel.ssdl|res://*/Entities.NtwEfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=advancewebb.db.teliasonera.net;initial catalog=AdvanceWebb;User Id=NTWw;password=2t7ArLVxKuzIty6QZE7P;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	
	<system.web>
		<customErrors mode="RemoteOnly" xdt:Transform="Replace">
		</customErrors>
		<authentication mode="Forms">
			<forms loginUrl="/Home/Index" timeout="30" xdt:Transform="SetAttributes" />
		</authentication>
	</system.web>

	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
			<file value="E:\logs\NTW-OMT\NTW-OMT.log" xdt:Transform="Replace"/>
		</appender>
		<root>
			<appender-ref ref="RollingLogFileAppender" xdt:Transform="Replace"/>
		</root>
	</log4net>
</configuration>
