.tsCampaignHero {
    padding: 0 !important;
    
    .tsCampaignText {
        .padding(leftright;@gutter-half;@gutter-half);
    }
    
    .tsCampaign-img {
        overflow: hidden;
        width: 100%;
        img {
            max-width: 210%;
            margin-left: -55%; // (210-100)/2
        }
    }
}

.tsCampaign-video {
    .margin(top;-@gutter);
}

