.tsCaptcha{
	.margin(bottom; 10);
}
.tsCaptcha-image{
	width: auto !important;
	height: auto !important;
	background: @white;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 5px;
}
.tsCaptcha-controls{
	.margin(bottom;5);
	text-align: right;

	.recaptcha_only_if_image a{
		.margin(left;3);
	}

	[class*='tsIcon-']{
		.font-size(16);
	}
}
.recaptcha_audio_cant_hear_link{
	.margin(left;10);
}