// news-list

@import "news-list-mq-medium";

.tsNewsList-more {
  display: none;
}

.tsNewsList-date {
  float: none;
  margin-left: 0;
}

.tsSocialArea-list a {
  text-decoration: none;
}

.tsSocialArea-list a:after {
	content: " (" attr(href) ")";
}
