.tsRegisterServiceErrend {
    .padding(topbottom;@gutter - 1;@gutter-double);
    background: @lightergrey;
    .border(topbottom;@inputbordercolor);  
}

.tsRegisterServiceErrend-formContainer {
    .l-inline-elements;
    .margin(left;-20);
}

.tsRegisterServiceErrend-divItem{
    .padding(left;20);
    width: 50%;

    textarea{
        height: 200px;
        width: 100%;
    }

    input{
        width:100%;
    }
}

.tsRegisterServiceErrend-submitContainer{
    border-top: 2px solid @clay;
    .padding(topbottom;@gutter-half;@gutter);
    .margin(top;@gutter);

    width: 100%;
    text-align: center;
}