.tscForm-floatBlock--floatLarge, .tscForm-floatBlock--info{
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.tscForm-floatBlock--info{
    width: @mq-xsmall;
    .padding(left; @gutter);
}

.tscForm--appendItem {
    .tscForm-appendArea {
        float: left;
        width: 440px;
    }
}