.tscForm--inlineLabelAbove {
   .tseSubmit, [class^="tsBtn"] {     
        float: right;
    }
    .tseInput {
        width: 100%;
    }
}

.tscForm--appendItem {
    .tscForm-appendArea {
        width: 220px;
    }
}


[class^="tscForm"][class*="--InsetInline"] {
    [class^="tseTextField"] {
        width: 100%;
    }
}