.tsColumnBlock-block--alt {
  width: 48%;
}

.tsColumn-list-2 {
    width: 100%;
}

.tsColumn-list-4 {
    width: 50%;
}

.tsAlignRight--small{
	text-align: right;
}

.tsPullLeft--Small{
	float: left;
}
.tsPullRight--Small{
	float: right;
}
