.tsSelectList {
    white-space: nowrap;
}

.tsListSearch {
  display: inline-block;
  margin: auto;
}

.tsSelectPackageList--medium {
  display: inline-block;
}

.tsSelectPackage {
  width: 830px;
  left: -500%;
  display: inline-block;
}
