
.tsTeaser-Item ,
.tsTeaser-Collapse .tsTeaser-Item {
	width: 25%;
}
.tsTeaser-Item--Alt,
.tsTeaser-Collapse .tsTeaser-Item--Alt {
	width: 33.33%;
}
.tsTeaser-Item--Large {
	width: 50%!important;
}
.tsTeaser-Item .tsHighlight-box {
	.padding(all;20);
}