

[class^="tsWizard-Item"]:before {
	left: -21px;
	width: 36px;
	line-height: 36px;
}

.tsWizard > li {
	.margin(left;@gutter);
	.padding(bottom;@gutter);
	.padding(left;7/4*@gutter);	// 7*20/4 = 35px
}



.tsWizard--Alt [class^="tsWizard-Item"] >.h2 {
	.font-size(24);
}