/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * SHORT-CUTS..........Dynamic short-cuts for the start page
 
*/





/*------------------------------------*\
    $SHORT-CUTS
\*------------------------------------*/

.tsShortCuts-links > li {
	width: 50%;
	&:nth-child(even) {
		border-left: 1px solid @darkpurple;
	}
}

.tsShortCuts-form-field.left-align-field {
	width: 43%;
	input {
		width: 100%;
	}
}

.tsShortCuts-form-field.right-align-field {
	width: 54%;
	input {
		width: 74.1%;
		.margin(right; 20);
	}
}