/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS..................You’re reading it!
 * FOLDOUT...................

*/





/*------------------------------------*\
    $FOLDOUT
\*------------------------------------*/

.tsFoldout.is-expanded {
    max-height: 900px;
}

.tsFoldout-Inner {
    height: 480px;
}

.tsFoldout img {
    max-height: 400px;
}