@import "news-list";
@import "news-list-mq-medium";


.ie8 .tsNewsList-items .tsNewsList-header,.ie8 .tsNewsList-items a {
    .margin(left;@gutter/2;);
}

.ie8 .tsNewsList--alt .tsNewsList-date,.ie8 .tsNewsList--alt .tsNewsList-more{
    .margin(right;@gutter/2;);
}

.ie7 .tsNewsList,
.ie7 .tsNewsList--alt {
	padding: 0;
}

.ie7 .tsNewsList-items--alt {
    .padding(left;@gutter;);
}

.lt-ie9 .tsSocialArea-list li {
    .margin(right;@gutter;);
}

.lt-ie9 .tsSocialArea-list li i {
    vertical-align: middle;
//    display: none;
}

.lt-ie9 .tsSocialArea-list li a {
    vertical-align: middle;
    position: relative;
}


