[class*="tsCampaignList"] .tsCampaign-img {
    max-width: auto;
    width: 30%;
}

[class*="tsCampaignList"] .tsCampaignList-text {
    .padding(right;@gutter-double);
}

.tsCampaignList,
[class*="tsCampaignList"][class*="--alt"],
[class*="tsCampaignList"][class*="--product"]{
    padding:0;
}

[class*="tsCampaignList"] > li {
    .margin(bottom;60);
}

.tsCampaignList--alt li .tsCampaign-img img {
    max-height: 135%;
}