@model string[]

@if (Model != null && Model.Length > 0)
{
	<div class="tsCrumbtrail tsCrumbtrail--middle tsWrapInner">
		<ul class="tsCrumbtrail-links" role="navigation">
			@foreach (var i in Model)
			{
				<li>
					<a href="">@Html.Raw(i)</a>
					@if (i != Model.Last())
					{
						<i class="tsIcon-Breadcrumb"></i>
					}
				</li>
			}
		</ul>
	</div>
}