/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * FOOTER................Footer wrapper
 * FOOTER SOCIAL.........Social links
 * FOOTER NAVIGATION.........Social links
*/





/*------------------------------------*\
    $FOOTER
\*------------------------------------*/




.tsFooter {
//	background-color: @lightpurple;
	background-color: @footerbgcolor;
}





/*------------------------------------*\
    $FOOTER SOCIAL
\*------------------------------------*/

.tsFooter-social {
	background-color: @purple;
}
.tsFooter-social-list {
	.l-list;
	display: block;
	.padding(topbottom;@gutter;@gutter);
	.padding(leftright;0;0);
    text-align: center;
}

.tsFooter-social-list > li {
    .padding(all;@gutter/2;0;0;0;);
	overflow: hidden;
    .inline-block;
    .margin(all;0;25;0;25);	
}

.tsFooter-social a {
    //color:@white;
	color: @footersocialbgcolor;
	.padding(all;0;@gutter/2;0;@gutter/2;);
//	line-height: 36px;
    font-weight: bold;
	&:visited {
    	color: @footersocialbgcolor;
	}
}
/*
.tsFooter-social-list [class*='tsIcon-'] {
    position: relative;
    top: -8px;
    width: 36px;
    height: 36px;
//    color: @footerbgcolor;
    color: @purple;
    background-color: @footersocialbgcolor;
    line-height: 36px;
}

.tsFooter-social-list .tsIcon-Facebook:before {
    position: relative;
    bottom: -3px;
    right: -5px;
    .font-size(30);
}

.tsFooter-social-list .tsIcon-Twitter {
    .font-size(lineheight;18;32);
}


*/


/*------------------------------------*\
    $FOOTER NAVIGATION
\*------------------------------------*/

.tsFooterNav-heading {
	color: @white;
//	font-size: 100%;
    margin: 0;
    .font-size(16);
	a {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.tsFooterNav-TopLevel > li {   	
    .menu-vertical-topitem;
    position: relative;
}

.tsFooterNav-TopLevel a {
    .menu-vertical-anchor;
    padding-left: @gutter-half;
    padding-right: 0;
	&:visited {
	    color: @white;
	}
}

.tsFooterNav-TopLevelTarget {
    .menu-vertical-topanchorarea;
}

.tsFooterNav-SubLevel {
	float: none;
	width: 100%;
}

.tsFooterNav-SubLevel > li {
    .transition;
    .menu-vertical-subitem;
    line-height: 24px;
    line-height: 2.4rem;

    &:hover {
    	background-color: darken(@purple, 7%);
    }
}
.tsFooterNav-heading {
    .transition;
	&:hover {
    	background-color: darken(@purple, 7%);
	}	
}

.tsFooterNav-TopLevel, .tsFooterNav-SubLevel {
	.l-list;
}

.tsFooterNav-TopLevel > li:last-child {
    border-bottom: 3px solid @lightpurple;
}


.tsFooterNav-TopLevel [data-widget-control=collapse-trigger] {
    //.menu-vertical-triggerarea;
    position: absolute;
    right: 5px;
    top: 0;
}



.tsFooter-links {
	background-color: @purple;
	border-top:2px solid @darkpurple;
	
}
.tsFooterNav-TopLevel {
	.l-wrap-bleed(@gutter-half);
}



/*------------------------------------*\
    $FOOTER SIMPLE
\*------------------------------------*/

.tsFooterSimple {
    .tsFooter-heading {
        color: @lightpurple;
        margin: 0;
        .font-size(14);
        padding:10px 0px;
        .padding(topbottom;@gutter;@gutter);
    }
}

