.tsRefill-content {
	.padding(all;@gutter*2;30;@gutter*2;30);
}
.tsRefill-input.xlarge {
	.font-size(36);
}
.tsRefill .small {
	width:24%;
	margin-right: 1%;
}
.tsRefill .medium {
	width:39%;
	margin-right: 1%;
}
.tsRefill .xsmall {
	width:10%;
}
.tsRefill .large {
	width: 49%;
	
}
.tsRefill .large {
	margin-right: 1%;	
}
[class*='tsRefill-input'],
.tsRefill-select {
	.margin(bottom;0);
}
.tsRefill .small+.small {
	margin-right: 1%;
	margin-left: 0;
}
.tsRefill .tsCheckbox {
	float: right;
}
.tsRefill-slider-nav > span  {
	top: -54px;
	bottom: auto;
	i{
		.font-size(30);
	}
}
.tsRefill-slider-nav > span.disabled {
	color:@lightgrey;
}
.tsRefill-slider-nav .arrow-left {
	left: -30px;
}
.tsRefill-slider-nav .arrow-right {
	right: -30px;
}



