/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * SHORT-CUTS..........Dynamic short-cuts for the start page
 
*/





/*------------------------------------*\
    $SHORT-CUTS
\*------------------------------------*/

.tsShortCuts-links > li {
	width: 100%;
	&:nth-child(even) {
		border-left: none;
	}
}

.tsShortCuts-formField-container {
    display: block;
}

.tsShortCuts-formField {
    width: 100%;
}

.tsShortCuts-formSubmit-container {
    display: block;
    float: right;
    .margin(top;20);
}